@mixin button {
    height: 49px;
    display: flex;
    font-size: 19px;
    font-weight: 600;
    justify-content: center;
    align-items: center;
    color: coral;
    background: white;
    border: 1px solid coral;
    border-radius: 5px;
}
@mixin content {
    height: 70px;
    width: 70px;
    display: flex;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    color: coral;
    border: 1px solid coral;
    margin: 5px 0 5px 0;
    border-radius: 33px;
}
@mixin fifth {
    font-size: 15px;
    font-weight: 500;
    opacity: 0.8;
    text-align: center;
    padding-top: 10px;
}
@mixin ninth {
    font-size: 17px;
    font-weight: 700;
    opacity: 0.8;
    text-align: center;
}
@mixin baner {
    font-size: 19px;
    font-weight: 700;
    text-align: left;
    padding-top: 20px;
}
@mixin menu {
    justify-content: center;
    font-size: 16px;
    font-weight: 700;
    margin: 32px 0 0 0;
}
@mixin block3 {
    width: auto;
    height: 100%;
    font-size: 1.1rem;
    font-weight: 600;
    opacity: 0.5;
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin second {
    width: 100%;
    height: auto;
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
    color: black;
}
body{
    .container{
        display: grid;
        grid-template-areas: 
        'header'
        'content'
        'footer';
        header{
            width: 1140px;
            max-width: 1140px;
            grid-area: header;
            .header_block{
                display: flex;
                flex-wrap: wrap;
                height: 100px;
                .header_block1{
                    display: flex;
                    width: 10%;
                    img{
                        width: 100%;
                    }
                }
                .header_block2{
                    display: flex;
                    width: 10%;
                    @include menu;
                }
                .header_block3{
                    display: flex;
                    width: 10%;
                    @include menu;
                }
                .header_block4{
                    display: flex;
                    width: 10%;
                    @include menu;
                }
                .header_block5{
                    display: flex;
                    width: 10%;
                    @include menu;
                }
                .header_block6{
                    display: flex;
                    width: 10%;
                    @include menu;
                }
                .header_block7{
                    display: flex;
                    width: 10%;
                    @include menu;
                }
                .header_block8{
                    display: flex;
                    width: 5%;
                }
                .header_block9{
                    display: flex;
                    width: 10%;
                    @include menu;
                    color: coral;
                }
                .header_block10{
                    display: flex;
                    width: 15%;
                    @include menu;
                    color: white;
                    background-color: coral;
                    margin-bottom: 33px;
                    border-radius: 7px;
                }
                
            }
        }
        .content{
            width: 1140px;
            max-width: 1140px;
            grid-area: content;
            .first{
                .row{
                    .col{
                        .first_block1{
                            display: flex;
                            flex-flow: column;
                            width: 100%;
                            height: 100%;
                            .first_block1_text{
                                width: 100%;
                                height: 50%;
                                font-size: 3rem;
                                font-weight: 700;
                                display: flex;
                                align-items: flex-end;
                            }
                            .first_block1_desc{
                                width: 100%;
                                height: 50%;
                                font-size: 1.25rem;
                            }
                        }
                    }
                    .col{
                        .first_block2{
                            img{
                                width: 100%;
                            }
                        }
                    }
                } 
            }
            .first_block3{
                width: 100%;
                height: 4rem;
                .row{
                    width: auto;
                    height: 100%;
                    .col{
                        .first_block3_one1{
                            width: auto;
                            height: 100%;
                            .row{
                                width: auto;
                                height: 100%;
                                .col{
                                    width: auto;
                                    height: 100%;
                                    .first_block3_one{
                                        @include block3;
                                    }
                                }
                                .col{
                                    width: auto;
                                    height: 100%;
                                    .first_block3_two{
                                        @include block3;
                                    }
                                }
                                .col{
                                    width: auto;
                                    height: 100%;
                                    .first_block3_three{
                                        @include block3;
                                    }
                                }
                            }
                        }
                    }
                    .col{
                        .first_block3_one2{
                            width: auto;
                            height: 100%;
                            .row{
                                width: auto;
                                height: 100%;
                                .col{
                                    width: auto;
                                    height: 100%;
                                    .first_block3_four{
                                        @include block3;
                                    }
                                }
                                .col{
                                    width: auto;
                                    height: 100%;
                                    .first_block3_five{
                                        @include block3;
                                    }
                                }
                                .col{
                                    width: auto;
                                    height: 100%;
                                    .first_block3_six{
                                        @include block3;
                                    }
                                }
                            }  
                        }
                    }
                    .col{
                        position: relative;
                    }
                    .fi-chevron-down{
                        font-size: 0.7rem;
                    }
                }
            }
            .second{
                height: 100px;
                width: 100%;
                margin-top: 2rem;
                .row{
                    .col-2{
                        .second_block1{
                            display: flex;
                            flex-direction: column;
                            width: 100%;
                            height: auto;
                            border: none;
                            background: white;
                            text-decoration: none;
                            .second_block1_1{
                                width: 100%;
                                height: auto;
                                display: flex;
                                justify-content: center;
                                .second_block1_content{
                                    @include content;
                                }
                            }
                            .second_block1_text{
                                @include second;
                            }
                        }
                        .second_block1:hover{
                            display: flex;
                            flex-direction: column;
                            width: 100%;
                            height: auto;
                            border: 3px solid rgb(231, 228, 228);
                            border-radius: 10px;
                            background: white;
                            text-decoration: none;
                            .second_block1_content{
                                @include content;
                                color: white;
                                background: coral;
                            }
                            .second_block1_text{
                                @include second;
                            }
                        }
                    }
                    .col-2{
                        .second_block2{
                            display: flex;
                            flex-direction: column;
                            width: 100%;
                            height: auto;
                            border: none;
                            background: white;
                            text-decoration: none;
                            .second_block2_1{
                                width: 100%;
                                height: auto;
                                display: flex;
                                justify-content: center;
                                .second_block2_content{
                                    @include content;
                                }
                            }
                            .second_block2_text{
                                @include second;
                            }
                        }
                        .second_block2:hover{
                            display: flex;
                            flex-direction: column;
                            width: 100%;
                            height: auto;
                            border: 3px solid rgb(231, 228, 228);
                            border-radius: 10px;
                            background: white;
                            text-decoration: none;
                            .second_block2_content{
                                @include content;
                                color: white;
                                background: coral;
                            }
                            .second_block2_text{
                                @include second;
                            }
                        }
                    }
                    .col-2{
                        .second_block3{
                            display: flex;
                            flex-direction: column;
                            width: 100%;
                            height: auto;
                            border: none;
                            background: white;
                            text-decoration: none;
                            .second_block3_1{
                                width: 100%;
                                height: auto;
                                display: flex;
                                justify-content: center;
                                .second_block3_content{
                                    @include content;
                                }
                            }
                            .second_block3_text{
                                @include second;
                            }
                        }
                        .second_block3:hover{
                            display: flex;
                            flex-direction: column;
                            width: 100%;
                            height: auto;
                            border: 3px solid rgb(231, 228, 228);
                            border-radius: 10px;
                            background: white;
                            text-decoration: none;
                            .second_block3_content{
                                @include content;
                                color: white;
                                background: coral;
                            }
                            .second_block3_text{
                                @include second;
                            }
                        }
                    }
                    .col-2{
                        .second_block4{
                            display: flex;
                            flex-direction: column;
                            width: 100%;
                            height: auto;
                            border: none;
                            background: white;
                            text-decoration: none;
                            .second_block4_1{
                                width: 100%;
                                height: auto;
                                display: flex;
                                justify-content: center;
                                .second_block4_content{
                                    @include content;
                                }
                            }
                            .second_block4_text{
                                @include second;
                            }
                        }
                        .second_block4:hover{
                            display: flex;
                            flex-direction: column;
                            width: 100%;
                            height: auto;
                            border: 3px solid rgb(231, 228, 228);
                            border-radius: 10px;
                            background: white;
                            text-decoration: none;
                            .second_block4_content{
                                @include content;
                                color: white;
                                background: coral;
                            }
                            .second_block4_text{
                                @include second;
                            }
                        }
                    }
                    .col-2{
                        .second_block5{
                            display: flex;
                            flex-direction: column;
                            width: 100%;
                            height: auto;
                            border: none;
                            background: white;
                            text-decoration: none;
                            .second_block5_1{
                                width: 100%;
                                height: auto;
                                display: flex;
                                justify-content: center;
                                .second_block5_content{
                                    @include content;
                                }
                            }
                            .second_block5_text{
                                @include second;
                            }
                        }
                        .second_block5:hover{
                            display: flex;
                            flex-direction: column;
                            width: 100%;
                            height: auto;
                            border: 3px solid rgb(231, 228, 228);
                            border-radius: 10px;
                            background: white;
                            text-decoration: none;
                            .second_block5_content{
                                @include content;
                                color: white;
                                background: coral;
                            }
                            .second_block5_text{
                                @include second;
                            }
                        }
                    }
                    .col-2{
                        .second_block6{
                            display: flex;
                            flex-direction: column;
                            width: 100%;
                            height: auto;
                            border: none;
                            background: white;
                            text-decoration: none;
                            .second_block6_1{
                                width: 100%;
                                height: auto;
                                display: flex;
                                justify-content: center;
                                .second_block6_content{
                                    @include content;
                                }
                            }
                            .second_block6_text{
                                @include second;
                            }
                        }
                        .second_block6:hover{
                            display: flex;
                            flex-direction: column;
                            width: 100%;
                            height: auto;
                            border: 3px solid rgb(231, 228, 228);
                            border-radius: 10px;
                            background: white;
                            text-decoration: none;
                            .second_block6_content{
                                @include content;
                                color: white;
                                background: coral;
                            }
                            .second_block6_text{
                                @include second;
                            }
                        }
                    }
                }   
            }
            .third{
                display: flex;
                flex-wrap: wrap;
                height: 500px;
                padding: 30px 2% 0 2%;
                gap: 20px;
                .third_block1{
                    display: flex;
                    flex-direction: column;
                    width: 32%;
                    .third_block1_image{
                        img{
                            width: 100%;
                        }
                    }
                    .third_block1_name{
                        p{
                            height: 50px;
                            font-size: 30px;
                            font-weight: 600;
                            text-align: center;
                            padding-top: 10px;
                        }
                    }
                    .third_block1_desc{
                        p{
                            height: 80px;
                            font-size: 15px;
                            opacity: 0.7;
                            text-align: center;
                        }
                    }
                    .third_block1_button{
                        padding: 0 100px 0 100px;
                        button{
                            @include button;
                        }
                        button:hover{
                            @include button;
                            background: coral;
                            color: white;
                        }
                    }
                }
                .third_block2{
                    display: flex;
                    flex-direction: column;
                    width: 32%;
                    .third_block2_image{
                        img{
                            width: 100%;
                        }
                    }
                    .third_block2_name{
                        p{
                            height: 50px;
                            font-size: 30px;
                            font-weight: 600;
                            text-align: center;
                            padding-top: 10px;
                        }
                    }
                    .third_block2_desc{
                        p{
                            height: 80px;
                            font-size: 15px;
                            opacity: 0.7;
                            text-align: center;
                        }
                    }
                    .third_block2_button{
                        padding: 0 100px 0 100px;
                        button{
                            @include button;
                        }
                        button:hover{
                            @include button;
                            background: coral;
                            color: white;
                        }
                    }
                }
                .third_block3{
                    display: flex;
                    flex-direction: column;
                    width: 32%;
                    .third_block3_image{
                        img{
                            width: 100%;
                        }
                    }
                    .third_block3_name{
                        p{
                            height: 50px;
                            font-size: 30px;
                            font-weight: 600;
                            text-align: center;
                            padding-top: 10px;
                        }
                    }
                    .third_block3_desc{
                        p{
                            height: 80px;
                            font-size: 15px;
                            opacity: 0.7;
                            text-align: center;
                        }
                    }
                    .third_block3_button{
                        padding: 0 100px 0 100px;
                        button{
                            @include button;
                        }
                        button:hover{
                            @include button;
                            background: coral;
                            color: white;
                        }
                    }
                }
            }
            .fourth_name{
                display: block;
                margin: 35px 0 20px 0;
                .fourth_name_h1{
                    font-size: 32px;
                    font-weight: 700;
                    text-align: left;
                }
            }
            .fourth{
                display: flex;
                flex-wrap: wrap;
                flex-flow: row;
                height: 400px;
                gap: 15px;
                    .col-md-3{
                        position: relative;
                    }
                    .fourth_block1{
                        display: flex;
                        flex-direction: column;
                    .fourth_block1_image{
                        img{
                            width: 100%;
                        }
                    }
                    .fourth_block1_text{
                        display: flex;
                        flex-direction: column;
                        padding-left: 15px;
                        .fourth_block1_text_for{
                            font-size: 14px;
                            color: coral;
                        }
                        .fourth_block1_text_name{
                            font-size: 16px;
                            font-weight: 600;
                        }
                        .fourth_block1_text_desc{
                            font-size: 14px;
                            opacity: 0.5;
                        }
                        .fourth_block1_text_price{
                            font-size: 16px;
                            font-weight: 600;
                            opacity: 0.7;
                        }
                    }
                    .fourth_block1_content{
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        font-size: 14px;
                        opacity: 0.7;
                        .fourth_block1_content1{
                            padding-right: 10px;
                        }
                        .fourth_block1_content2{
                            padding: 0 5px 0 5px;
                        }
                        .fourth_block1_content3{
                            padding-left: 10px;
                        }
                    }
                }
                .fourth_block2{
                    display: flex;
                    flex-direction: column;
                    .fourth_block2_image{
                        img{
                            width: 100%;
                        }
                    }
                    .fourth_block2_text{
                        display: flex;
                        flex-direction: column;
                        padding-left: 15px;
                        .fourth_block2_text_for{
                            font-size: 14px;
                            color: coral;
                        }
                        .fourth_block2_text_name{
                            font-size: 16px;
                            font-weight: 600;
                        }
                        .fourth_block2_text_desc{
                            font-size: 14px;
                            opacity: 0.5;
                        }
                        .fourth_block2_text_price{
                            font-size: 16px;
                            font-weight: 600;
                            opacity: 0.7;
                        }
                    }
                    .fourth_block2_content{
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        font-size: 14px;
                        opacity: 0.7;
                        .fourth_block2_content1{
                            padding-right: 10px;
                        }
                        .fourth_block2_content2{
                            padding: 0 5px 0 5px;
                        }
                        .fourth_block2_content3{
                            padding-left: 10px;
                        }
                    }
                }
                .fourth_block3{
                    display: flex;
                    flex-direction: column;
                    .fourth_block3_image{
                        img{
                            width: 100%;
                        }
                    }
                    .fourth_block3_text{
                        display: flex;
                        flex-direction: column;
                        padding-left: 15px;
                        .fourth_block3_text_for{
                            font-size: 14px;
                            color: coral;
                        }
                        .fourth_block3_text_name{
                            font-size: 16px;
                            font-weight: 600;
                        }
                        .fourth_block3_text_desc{
                            font-size: 14px;
                            opacity: 0.5;
                        }
                        .fourth_block3_text_price{
                            font-size: 16px;
                            font-weight: 600;
                            opacity: 0.7;
                        }
                    }
                    .fourth_block3_content{
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        font-size: 14px;
                        opacity: 0.7;
                        .fourth_block3_content1{
                            padding-right: 10px;
                        }
                        .fourth_block3_content2{
                            padding: 0 5px 0 5px;
                        }
                        .fourth_block3_content3{
                            padding-left: 10px;
                        }
                    }
                }
                .fourth_block4{
                    display: flex;
                    flex-direction: column;
                    .fourth_block4_image{
                        img{
                            width: 100%;
                        }
                    }
                    .fourth_block4_text{
                        display: flex;
                        flex-direction: column;
                        padding-left: 15px;
                        .fourth_block4_text_for{
                            font-size: 14px;
                            color: coral;
                        }
                        .fourth_block4_text_name{
                            font-size: 16px;
                            font-weight: 600;
                        }
                        .fourth_block4_text_desc{
                            font-size: 14px;
                            opacity: 0.5;
                        }
                        .fourth_block4_text_price{
                            font-size: 16px;
                            font-weight: 600;
                            opacity: 0.7;
                        }
                    }
                    .fourth_block4_content{
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        font-size: 14px;
                        opacity: 0.7;
                        .fourth_block4_content1{
                            padding-right: 10px;
                        }
                        .fourth_block4_content2{
                            padding: 0 5px 0 5px;
                        }
                        .fourth_block4_content3{
                            padding-left: 10px;
                        }
                    }
                }
            }
            .fifth{
                display: flex;
                flex-wrap: wrap;
                .fifth_h1{
                    width: 300px;
                    font-size: 32px;
                    font-weight: 700;
                    text-align: left;
                }
                .fifth_block{
                    display: flex;
                    .col-md-3{
                        position: relative;
                    }
                    .fifth_block1{
                        width: 120px;
                        @include fifth;
                    }
                    .fifth_block2{
                        width: 120px;
                        @include fifth;
                    }
                    .fifth_block3{
                        width: 120px;
                        @include fifth;
                    }
                    .fifth_block4{
                        width: 120px;
                        @include fifth;
                    }
                }
            }
            .sixth{
                display: grid;
                gap: 10px;
                .sixth_block1{
                    width: 570px;
                    height: auto;
                    grid-column: 1 / 3;
                    grid-row: 1 / 3;
                    img{
                        width: 100%;
                    }
                }
                .sixth_block2{
                    width: 570px;
                    height: auto;
                    grid-column: 3 / 5;
                    grid-row: 1 / 2;
                    img{
                        width: 100%;
                    }
                }
                .sixth_block3{
                    width: 570px;
                    height: auto;
                    grid-column: 3 / 5;
                    grid-row: 2 / 3;
                    img{
                        width: 100%;
                    }
                }
            }
            .seventh{
                display: flex;
                flex-wrap: wrap;
                flex-flow: row;
                .seventh_image{
                    width: 30%;
                    height: auto;
                    img{
                        width: 100%;
                    }
                }
                .seventh_text{
                    width: 70%;
                    height: auto;
                    display: flex;
                    flex-direction: column;
                    margin-left: 50px;
                    .seventh_text_name{
                        height: 100px;
                        font-size: 32px;
                        font-weight: 700;
                        text-align: left;
                        padding-top: 45px;
                    }
                    .seventh_text_desc{
                        height: 100px;
                        font-size: 19px;
                        opacity: 0.8;
                        text-align: left;
                    }
                    .seventh_text_button{
                        height: 100px;
                        .seventh_text_button1{
                            width: 150px;
                            height: 40px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            font-size: 19px;
                            font-weight: 600;
                            line-height: 0.7;
                            color: white;
                            margin-top: 10px;
                            background: orangered;
                            border-radius: 7px;
                        }
                    }
                }
            }
            .eighth{
                display: block;
                margin: 35px 0 20px 0;
                .eighth_h1{
                    font-size: 32px;
                    font-weight: 700;
                    text-align: left;
                }
            }
            .ninth{
                display: flex;
                flex-wrap: wrap;
                flex-flow: row;
                gap: 10px;
                .ninth_block1{
                    display: flex;
                    flex-direction: column;
                    .ninth_block1_image{
                        img{
                            width: 100%;
                        }
                    }
                    .ninth_block1_text{
                        @include ninth;
                    }
                }
                .ninth_block2{
                    display: flex;
                    flex-direction: column;
                    .ninth_block2_image{
                        img{
                            width: 100%;
                        }
                    }
                    .ninth_block2_text{
                        @include ninth;
                    }
                }
                .ninth_block3{
                    display: flex;
                    flex-direction: column;
                    .ninth_block3_image{
                        img{
                            width: 100%;
                        }
                    }
                    .ninth_block3_text{
                        @include ninth;
                    }
                }
                .ninth_block4{
                    display: flex;
                    flex-direction: column;
                    .ninth_block4_image{
                        img{
                            width: 100%;
                        }
                    }
                    .ninth_block4_text{
                        @include ninth;
                    }
                }
            }
            .ten{
                display: block;
                margin: 35px 0 20px 0;
                .ten_h1{
                    font-size: 32px;
                    font-weight: 700;
                    text-align: left;
                }
            }
            .eleven{
                display: flex;
                flex-wrap: wrap;
                flex-flow: row;
                height: 100px;
                .eleven_block1{
                    display: flex;
                    width: 16%;
                    .eleven_block1_grey{
                        img{
                            width: 100%;
                        }
                    }
                    .eleven_block1_color{
                        display: none;
                        img{
                            width: 100%;
                        }
                    }   
                }
                .eleven_block1:hover .eleven_block1_color{
                    display: flex;
                }
                .eleven_block1:hover .eleven_block1_grey{
                    display: none;
                }
                .eleven_block2{
                    display: flex;
                    width: 16%;
                    .eleven_block2_grey{
                        img{
                            width: 100%;
                        }
                    }
                    .eleven_block2_color{
                        display: none;
                        img{
                            width: 100%;
                        }
                    }   
                }
                .eleven_block2:hover .eleven_block2_color{
                    display: flex;
                }
                .eleven_block2:hover .eleven_block2_grey{
                    display: none;
                }
                .eleven_block3{
                    display: flex;
                    width: 16%;
                    .eleven_block3_grey{
                        img{
                            width: 100%;
                        }
                    }
                    .eleven_block3_color{
                        display: none;
                        img{
                            width: 100%;
                        }
                    }   
                }
                .eleven_block3:hover .eleven_block3_color{
                    display: flex;
                }
                .eleven_block3:hover .eleven_block3_grey{
                    display: none;
                }
                .eleven_block4{
                    display: flex;
                    width: 16%;
                    .eleven_block4_grey{
                        img{
                            width: 100%;
                        }
                    }
                    .eleven_block4_color{
                        display: none;
                        img{
                            width: 100%;
                        }
                    }   
                }
                .eleven_block4:hover .eleven_block4_color{
                    display: flex;
                }
                .eleven_block4:hover .eleven_block4_grey{
                    display: none;
                }
                .eleven_block5{
                    display: flex;
                    width: 16%;
                    .eleven_block5_grey{
                        img{
                            width: 100%;
                        }
                    }
                    .eleven_block5_color{
                        display: none;
                        img{
                            width: 100%;
                        }
                    }   
                }
                .eleven_block5:hover .eleven_block5_color{
                    display: flex;
                }
                .eleven_block5:hover .eleven_block5_grey{
                    display: none;
                }
                .eleven_block6{
                    display: flex;
                    width: 16%;
                    .eleven_block6_grey{
                        img{
                            width: 100%;
                        }
                    }
                    .eleven_block6_color{
                        display: none;
                        img{
                            width: 100%;
                        }
                    }   
                }
                .eleven_block6:hover .eleven_block6_color{
                    display: flex;
                }
                .eleven_block6:hover .eleven_block6_grey{
                    display: none;
                }
            }
            .twelve{
                display: block;
                margin: 35px 0 20px 0;
                .twelve_h1{
                    font-size: 32px;
                    font-weight: 700;
                    text-align: left;
                }
            }
            .thirteen{
                display: flex;
                flex-wrap: wrap;
                flex-flow: row;
                gap: 25px;
                padding-bottom: 75px;
                .thirteen_block1{
                    width: 32%;
                    height: auto;
                    img{
                        width: 100%;
                    }
                }
                .thirteen_block2{
                    width: 32%;
                    height: auto;
                    img{
                        width: 100%;
                    }
                }
                .thirteen_block3{
                    width: 32%;
                    display: flex;
                    flex-direction: column;
                    .thirteen_block3_name{
                        font-size: 26px;
                        font-weight: 700;
                    }
                    .thirteen_block3_desc{
                        font-size: 16px;
                        font-weight: 400;
                        opacity: 0.7;
                    }
                    .thirteen_block3_text{
                        display: grid;
                        .thirteen_block3_text_bl1{
                            grid-column: 1 / 2;
                            grid-row: 1 / 2;
                            font-size: 19px;
                            font-weight: 700;
                        }
                        .thirteen_block3_text_bl2{
                            grid-column: 2 / 3;
                            grid-row: 1 / 2;
                            color: yellow;
                        }
                        .thirteen_block3_text_bl3{
                            grid-column: 1 / 2;
                            grid-row: 2 / 3;
                            font-size: 14px;
                            opacity: 0.8;
                        }
                        .thirteen_block3_text_bl4{
                            grid-column: 2 / 3;
                            grid-row: 2 / 3;
                            font-size: 14px;
                            opacity: 0.8;
                        }
                    }
                }
            }
        }
        footer{
            width: 1140px;
            max-width: 1140px;
            grid-area: footer;
            .first_footer{
                display: flex;
                flex-wrap: wrap;
                flex-flow: row;
                .first_left{
                    display: flex;
                    width: 600px;
                    .first_left_block1{
                        width: 34%;
                        margin: 10px;
                        img{
                            height: 100px;
                            width: 200px;
                        }
                        ul{
                            list-style-type: none;
                            margin-top: 15px;
                        }
                        .messendger{
                            display: flex;
                            flex-direction: row;
                            justify-content: center;
                            margin-top: 15px;
                            .messendger_bl1{
                                img{
                                    width: 32px;
                                    height: 32px;
                                }
                            }
                            .messendger_bl2{
                                img{
                                    width: 32px;
                                    height: 32px;
                                }
                            }
                            .messendger_bl3{
                                img{
                                    width: 32px;
                                    height: 32px;
                                }
                            }
                            .messendger_bl4{
                                img{
                                    width: 32px;
                                    height: 32px;
                                }
                            }
                        }
                    }
                    .first_left_block2{
                        width: 33%;
                        .first_name1{
                            height: 54px;
                            @include baner;
                            padding-left: 40px;
                        }
                        ul{
                            list-style-type: none;
                            font-size: 16px;
                            margin-top: 15px;
                        }
                    }
                    .first_left_block3{
                        width: 33%;
                        .first_name2{
                            height: 54px;
                            @include baner;
                            padding-left: 40px;
                        }
                        ul{
                            list-style-type: none;
                            font-size: 16px;
                            margin-top: 15px;
                        }
                    }
                }
                .first_right{
                    display: flex;
                    width: 540px;
                    flex-direction: column;
                    .first_name3{
                        height: 54px;
                        @include baner;
                        margin-bottom: 15px;
                    }
                    .first_right_block1{
                        display: flex;
                        flex-direction: row;
                        gap: 15px;
                        .first_right_block1_image{
                            width: 250px;
                            height: 250px;
                            img{
                                width: 100%;
                            }
                        }
                        .first_right_block1_text{
                            display: flex;
                            flex-direction: column;
                            .first_right_block1_text_top{
                                font-size: 14px;
                                color: coral;
                            }
                            .first_right_block1_text_name{
                                font-size: 16px;
                                font-weight: 700;
                            }
                            .first_right_block1_text_desc{
                                font-size: 14px;
                                opacity: 0.7;
                            }
                            .first_right_block1_text_bottom{
                                display: flex;
                                flex-flow: row;
                                gap: 15px;
                                .first_right_block1_text_bottom1{
                                    font-size: 14px;
                                    opacity: 0.7;
                                    margin-top: 10px;
                                }
                                .first_right_block1_text_bottom2{
                                    font-size: 14px;
                                    opacity: 0.7;
                                    margin-top: 10px;
                                }
                            }
                        }
                    }
                    .first_right_block2{
                        display: flex;
                        flex-direction: row;
                        gap: 15px;
                        .first_right_block2_image{
                            width: 250px;
                            height: 250px;
                            img{
                                width: 100%;
                            }
                        }
                        .first_right_block2_text{
                            display: flex;
                            flex-direction: column;
                            .first_right_block2_text_top{
                                font-size: 14px;
                                color: coral;
                            }
                            .first_right_block2_text_name{
                                font-size: 16px;
                                font-weight: 700;
                            }
                            .first_right_block2_text_desc{
                                font-size: 14px;
                                opacity: 0.7;
                            }
                            .first_right_block2_text_bottom{
                                display: flex;
                                flex-flow: row;
                                gap: 15px;
                                .first_right_block2_text_bottom1{
                                    font-size: 14px;
                                    opacity: 0.7;
                                    margin-top: 10px;
                                }
                                .first_right_block2_text_bottom2{
                                    font-size: 14px;
                                    opacity: 0.7;
                                    margin-top: 10px;
                                }
                            }
                        }
                    }
                }
            }
            .dark_footer{
                display: flex;
                flex-wrap: wrap;
                flex-flow: row;
                gap: 30px;
                background-color: rgb(24, 1, 41);
                .dark_footer_block1{
                    width: 25%;
                    img{
                        width: 100%;
                    }
                }
                .dark_footer_block2{
                    width: 40%;
                    .dark_footer_block2_h1{
                        height: 50%;
                        font-size: 28px;
                        font-weight: 700;
                        color: white;
                        padding-top: 75px;
                    }
                    .dark_footer_block2_h2{
                        height: 50%;
                        font-size: 16px;
                        color: white;
                    }
                }
                .dark_footer_block3{
                    width: 35%;
                    display: flex;
                    flex-direction: row;
                    .dark_footer_block3_bl1{
                        width: 50%;
                        .dark_footer_block3_bl11{
                            width: 100%;
                            padding-top: 120px;
                            img{
                                width: 100%;
                            }
                        }
                    }
                    .dark_footer_block3_bl2{
                        width: 50%;
                        .dark_footer_block3_bl22{
                            width: 100%;
                            padding-top: 120px;
                            img{
                                width: 100%;
                            }
                        }
                    }
                }
            }
            .end_footer{
                font-size: 15px;
                text-align: center;
                padding-top: 30px;
            }
        }
    }
}
@media screen and (max-width: 800px) {
    .container {
        flex-direction: column;
    }
}