body .maketsite {
  display: grid;
  grid-template-areas: "header" "content" "footer";
}
body .maketsite header {
  width: 100%;
  grid-area: header;
  background: white;
}
body .maketsite header .container-fluid .row .col-lg-2 {
  width: 100%;
  height: auto;
}
body .maketsite header .container-fluid .row .col-lg-8 .row .col-lg-10 .row .col-lg-2 .dropdown {
  width: auto;
  height: 100%;
  font-size: 1.1rem;
  font-weight: 600;
  opacity: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .maketsite header .container-fluid .row .col-lg-2 .addheader {
  display: flex;
  justify-content: center;
  font-size: 1rem;
  font-weight: 700;
  margin: 2rem 0 0 0;
  color: white;
  background-color: coral;
  margin-bottom: 2rem;
  border-radius: 0.5rem;
}
body .maketsite .allcontent {
  width: 100%;
  grid-area: content;
}
body .maketsite .allcontent .first .container-fluid .row .col-lg .first_block1 {
  display: flex;
  flex-flow: column;
  width: 100%;
  height: 100%;
}
body .maketsite .allcontent .first .container-fluid .row .col-lg .first_block1 .first_block1_text {
  width: 100%;
  height: 50%;
  font-size: 3rem;
  font-weight: 700;
  display: flex;
  align-items: flex-end;
}
@media screen and (max-width: 992px) {
  body .maketsite .allcontent .first .container-fluid .row .col-lg .first_block1 .first_block1_text {
    font-size: 2rem;
    margin-top: 0.75rem;
  }
}
body .maketsite .allcontent .first .container-fluid .row .col-lg .first_block1 .first_block1_desc {
  width: 100%;
  height: 50%;
  font-size: 1.25rem;
}
@media screen and (max-width: 992px) {
  body .maketsite .allcontent .first .container-fluid .row .col-lg .first_block1 .first_block1_desc {
    font-size: 0.85rem;
  }
}
body .maketsite .allcontent .first .container-fluid .row .col-lg {
  display: flex;
}
body .maketsite .allcontent .first .container-fluid .row .col-lg .first_block2 img {
  width: 100%;
}
@media screen and (max-width: 992px) {
  body .maketsite .allcontent .first .container-fluid {
    flex-direction: row;
  }
}
body .maketsite .allcontent .first_block3 {
  width: 100%;
  height: 4rem;
}
body .maketsite .allcontent .first_block3 .container-fluid .row {
  width: auto;
  height: 100%;
}
body .maketsite .allcontent .first_block3 .container-fluid .row .col-lg .first_block3_one1 {
  width: auto;
  height: 100%;
}
body .maketsite .allcontent .first_block3 .container-fluid .row .col-lg .first_block3_one1 .row {
  width: auto;
  height: 100%;
}
body .maketsite .allcontent .first_block3 .container-fluid .row .col-lg .first_block3_one1 .row .col-sm {
  width: auto;
  height: 100%;
}
body .maketsite .allcontent .first_block3 .container-fluid .row .col-lg .first_block3_one1 .row .col-sm .dropdown {
  width: auto;
  height: 100%;
  font-size: 1.1rem;
  font-weight: 600;
  opacity: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .maketsite .allcontent .first_block3 .container-fluid .row .col-lg .first_block3_one1 .row .col-sm {
  width: auto;
  height: 100%;
}
body .maketsite .allcontent .first_block3 .container-fluid .row .col-lg .first_block3_one1 .row .col-sm .dropdown {
  width: auto;
  height: 100%;
  font-size: 1.1rem;
  font-weight: 600;
  opacity: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .maketsite .allcontent .first_block3 .container-fluid .row .col-lg .first_block3_one1 .row .col-sm {
  width: auto;
  height: 100%;
}
body .maketsite .allcontent .first_block3 .container-fluid .row .col-lg .first_block3_one1 .row .col-sm .dropdown {
  width: auto;
  height: 100%;
  font-size: 1.1rem;
  font-weight: 600;
  opacity: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .maketsite .allcontent .first_block3 .container-fluid .row .col-lg .first_block3_one2 {
  width: auto;
  height: 100%;
}
body .maketsite .allcontent .first_block3 .container-fluid .row .col-lg .first_block3_one2 .row {
  width: auto;
  height: 100%;
}
body .maketsite .allcontent .first_block3 .container-fluid .row .col-lg .first_block3_one2 .row .col-sm {
  width: auto;
  height: 100%;
}
body .maketsite .allcontent .first_block3 .container-fluid .row .col-lg .first_block3_one2 .row .col-sm .first_block3_four {
  width: auto;
  height: 100%;
  font-size: 1.1rem;
  font-weight: 600;
  opacity: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .maketsite .allcontent .first_block3 .container-fluid .row .col-lg .first_block3_one2 .row .col-sm {
  width: auto;
  height: 100%;
}
body .maketsite .allcontent .first_block3 .container-fluid .row .col-lg .first_block3_one2 .row .col-sm .first_block3_five {
  width: auto;
  height: 100%;
  font-size: 1.1rem;
  font-weight: 600;
  opacity: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .maketsite .allcontent .first_block3 .container-fluid .row .col-lg .first_block3_one2 .row .col-sm {
  width: auto;
  height: 100%;
}
body .maketsite .allcontent .first_block3 .container-fluid .row .col-lg .first_block3_one2 .row .col-sm .first_block3_six {
  width: auto;
  height: 100%;
  font-size: 1.1rem;
  font-weight: 600;
  opacity: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .maketsite .allcontent .second {
  height: 100px;
  width: 100%;
  margin: 2rem 0 2rem 0;
}
body .maketsite .allcontent .second .container-fluid .row .col-lg-2 .second_block1 {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  border: none;
  background: white;
  text-decoration: none;
}
body .maketsite .allcontent .second .container-fluid .row .col-lg-2 .second_block1 .second_block1_1 {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}
body .maketsite .allcontent .second .container-fluid .row .col-lg-2 .second_block1 .second_block1_1 .second_block1_content {
  height: 4rem;
  width: 4rem;
  display: flex;
  font-size: 2rem;
  justify-content: center;
  align-items: center;
  color: coral;
  border: 1px solid coral;
  margin: 0.35rem 0 0.35rem 0;
  border-radius: 2rem;
}
body .maketsite .allcontent .second .container-fluid .row .col-lg-2 .second_block1 .second_block1_text {
  width: 100%;
  height: auto;
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
  color: black;
}
body .maketsite .allcontent .second .container-fluid .row .col-lg-2 .second_block1:hover {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  border: 3px solid rgb(240, 240, 240);
  border-radius: 10px;
  background: white;
  text-decoration: none;
}
body .maketsite .allcontent .second .container-fluid .row .col-lg-2 .second_block1:hover .second_block1_content {
  height: 4rem;
  width: 4rem;
  display: flex;
  font-size: 2rem;
  justify-content: center;
  align-items: center;
  color: coral;
  border: 1px solid coral;
  margin: 0.35rem 0 0.35rem 0;
  border-radius: 2rem;
  color: white;
  background: coral;
}
body .maketsite .allcontent .second .container-fluid .row .col-lg-2 .second_block1:hover .second_block1_text {
  width: 100%;
  height: auto;
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
  color: black;
}
body .maketsite .allcontent .second .container-fluid .row .col-lg-2 .second_block2 {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  border: none;
  background: white;
  text-decoration: none;
}
body .maketsite .allcontent .second .container-fluid .row .col-lg-2 .second_block2 .second_block2_1 {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}
body .maketsite .allcontent .second .container-fluid .row .col-lg-2 .second_block2 .second_block2_1 .second_block2_content {
  height: 4rem;
  width: 4rem;
  display: flex;
  font-size: 2rem;
  justify-content: center;
  align-items: center;
  color: coral;
  border: 1px solid coral;
  margin: 0.35rem 0 0.35rem 0;
  border-radius: 2rem;
}
body .maketsite .allcontent .second .container-fluid .row .col-lg-2 .second_block2 .second_block2_text {
  width: 100%;
  height: auto;
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
  color: black;
}
body .maketsite .allcontent .second .container-fluid .row .col-lg-2 .second_block2:hover {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  border: 3px solid rgb(240, 240, 240);
  border-radius: 10px;
  background: white;
  text-decoration: none;
}
body .maketsite .allcontent .second .container-fluid .row .col-lg-2 .second_block2:hover .second_block2_content {
  height: 4rem;
  width: 4rem;
  display: flex;
  font-size: 2rem;
  justify-content: center;
  align-items: center;
  color: coral;
  border: 1px solid coral;
  margin: 0.35rem 0 0.35rem 0;
  border-radius: 2rem;
  color: white;
  background: coral;
}
body .maketsite .allcontent .second .container-fluid .row .col-lg-2 .second_block2:hover .second_block2_text {
  width: 100%;
  height: auto;
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
  color: black;
}
body .maketsite .allcontent .second .container-fluid .row .col-lg-2 .second_block3 {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  border: none;
  background: white;
  text-decoration: none;
}
body .maketsite .allcontent .second .container-fluid .row .col-lg-2 .second_block3 .second_block3_1 {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}
body .maketsite .allcontent .second .container-fluid .row .col-lg-2 .second_block3 .second_block3_1 .second_block3_content {
  height: 4rem;
  width: 4rem;
  display: flex;
  font-size: 2rem;
  justify-content: center;
  align-items: center;
  color: coral;
  border: 1px solid coral;
  margin: 0.35rem 0 0.35rem 0;
  border-radius: 2rem;
}
body .maketsite .allcontent .second .container-fluid .row .col-lg-2 .second_block3 .second_block3_text {
  width: 100%;
  height: auto;
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
  color: black;
}
body .maketsite .allcontent .second .container-fluid .row .col-lg-2 .second_block3:hover {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  border: 3px solid rgb(240, 240, 240);
  border-radius: 10px;
  background: white;
  text-decoration: none;
}
body .maketsite .allcontent .second .container-fluid .row .col-lg-2 .second_block3:hover .second_block3_content {
  height: 4rem;
  width: 4rem;
  display: flex;
  font-size: 2rem;
  justify-content: center;
  align-items: center;
  color: coral;
  border: 1px solid coral;
  margin: 0.35rem 0 0.35rem 0;
  border-radius: 2rem;
  color: white;
  background: coral;
}
body .maketsite .allcontent .second .container-fluid .row .col-lg-2 .second_block3:hover .second_block3_text {
  width: 100%;
  height: auto;
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
  color: black;
}
body .maketsite .allcontent .second .container-fluid .row .col-lg-2 .second_block4 {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  border: none;
  background: white;
  text-decoration: none;
}
body .maketsite .allcontent .second .container-fluid .row .col-lg-2 .second_block4 .second_block4_1 {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}
body .maketsite .allcontent .second .container-fluid .row .col-lg-2 .second_block4 .second_block4_1 .second_block4_content {
  height: 4rem;
  width: 4rem;
  display: flex;
  font-size: 2rem;
  justify-content: center;
  align-items: center;
  color: coral;
  border: 1px solid coral;
  margin: 0.35rem 0 0.35rem 0;
  border-radius: 2rem;
}
body .maketsite .allcontent .second .container-fluid .row .col-lg-2 .second_block4 .second_block4_text {
  width: 100%;
  height: auto;
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
  color: black;
}
body .maketsite .allcontent .second .container-fluid .row .col-lg-2 .second_block4:hover {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  border: 3px solid rgb(240, 240, 240);
  border-radius: 10px;
  background: white;
  text-decoration: none;
}
body .maketsite .allcontent .second .container-fluid .row .col-lg-2 .second_block4:hover .second_block4_content {
  height: 4rem;
  width: 4rem;
  display: flex;
  font-size: 2rem;
  justify-content: center;
  align-items: center;
  color: coral;
  border: 1px solid coral;
  margin: 0.35rem 0 0.35rem 0;
  border-radius: 2rem;
  color: white;
  background: coral;
}
body .maketsite .allcontent .second .container-fluid .row .col-lg-2 .second_block4:hover .second_block4_text {
  width: 100%;
  height: auto;
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
  color: black;
}
body .maketsite .allcontent .second .container-fluid .row .col-lg-2 .second_block5 {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  border: none;
  background: white;
  text-decoration: none;
}
body .maketsite .allcontent .second .container-fluid .row .col-lg-2 .second_block5 .second_block5_1 {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}
body .maketsite .allcontent .second .container-fluid .row .col-lg-2 .second_block5 .second_block5_1 .second_block5_content {
  height: 4rem;
  width: 4rem;
  display: flex;
  font-size: 2rem;
  justify-content: center;
  align-items: center;
  color: coral;
  border: 1px solid coral;
  margin: 0.35rem 0 0.35rem 0;
  border-radius: 2rem;
}
body .maketsite .allcontent .second .container-fluid .row .col-lg-2 .second_block5 .second_block5_text {
  width: 100%;
  height: auto;
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
  color: black;
}
body .maketsite .allcontent .second .container-fluid .row .col-lg-2 .second_block5:hover {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  border: 3px solid rgb(240, 240, 240);
  border-radius: 10px;
  background: white;
  text-decoration: none;
}
body .maketsite .allcontent .second .container-fluid .row .col-lg-2 .second_block5:hover .second_block5_content {
  height: 4rem;
  width: 4rem;
  display: flex;
  font-size: 2rem;
  justify-content: center;
  align-items: center;
  color: coral;
  border: 1px solid coral;
  margin: 0.35rem 0 0.35rem 0;
  border-radius: 2rem;
  color: white;
  background: coral;
}
body .maketsite .allcontent .second .container-fluid .row .col-lg-2 .second_block5:hover .second_block5_text {
  width: 100%;
  height: auto;
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
  color: black;
}
body .maketsite .allcontent .second .container-fluid .row .col-lg-2 .second_block6 {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  border: none;
  background: white;
  text-decoration: none;
}
body .maketsite .allcontent .second .container-fluid .row .col-lg-2 .second_block6 .second_block6_1 {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}
body .maketsite .allcontent .second .container-fluid .row .col-lg-2 .second_block6 .second_block6_1 .second_block6_content {
  height: 4rem;
  width: 4rem;
  display: flex;
  font-size: 2rem;
  justify-content: center;
  align-items: center;
  color: coral;
  border: 1px solid coral;
  margin: 0.35rem 0 0.35rem 0;
  border-radius: 2rem;
}
body .maketsite .allcontent .second .container-fluid .row .col-lg-2 .second_block6 .second_block6_text {
  width: 100%;
  height: auto;
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
  color: black;
}
body .maketsite .allcontent .second .container-fluid .row .col-lg-2 .second_block6:hover {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  border: 3px solid rgb(240, 240, 240);
  border-radius: 10px;
  background: white;
  text-decoration: none;
}
body .maketsite .allcontent .second .container-fluid .row .col-lg-2 .second_block6:hover .second_block6_content {
  height: 4rem;
  width: 4rem;
  display: flex;
  font-size: 2rem;
  justify-content: center;
  align-items: center;
  color: coral;
  border: 1px solid coral;
  margin: 0.35rem 0 0.35rem 0;
  border-radius: 2rem;
  color: white;
  background: coral;
}
body .maketsite .allcontent .second .container-fluid .row .col-lg-2 .second_block6:hover .second_block6_text {
  width: 100%;
  height: auto;
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
  color: black;
}
body .maketsite .allcontent .third {
  width: 100%;
  height: auto;
  padding: 2rem 5% 2rem 5%;
}
body .maketsite .allcontent .third .container-fluid .row .col-lg .third_block1 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  color: black;
  text-decoration: none;
}
body .maketsite .allcontent .third .container-fluid .row .col-lg .third_block1 .third_block1_image img {
  width: 100%;
  height: auto;
}
body .maketsite .allcontent .third .container-fluid .row .col-lg .third_block1 .third_block1_name p {
  height: 3rem;
  width: auto;
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  padding-top: 0.7rem;
}
body .maketsite .allcontent .third .container-fluid .row .col-lg .third_block1 .third_block1_desc p {
  height: 5rem;
  width: auto;
  font-size: 1rem;
  opacity: 0.7;
  text-align: center;
}
body .maketsite .allcontent .third .container-fluid .row .col-lg .third_block1 .third_block1_button {
  display: flex;
  justify-content: center;
}
body .maketsite .allcontent .third .container-fluid .row .col-lg .third_block1 .third_block1_button button {
  height: 3rem;
  display: flex;
  font-size: 1.1rem;
  font-weight: 600;
  justify-content: center;
  align-items: center;
  color: coral;
  background: white;
  border: 1px solid coral;
  border-radius: 0.35rem;
}
body .maketsite .allcontent .third .container-fluid .row .col-lg .third_block1 .third_block1_button button:hover {
  height: 3rem;
  display: flex;
  font-size: 1.1rem;
  font-weight: 600;
  justify-content: center;
  align-items: center;
  color: coral;
  background: white;
  border: 1px solid coral;
  border-radius: 0.35rem;
  background: coral;
  color: white;
}
body .maketsite .allcontent .third .container-fluid .row .col-lg .third_block2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  color: black;
  text-decoration: none;
}
body .maketsite .allcontent .third .container-fluid .row .col-lg .third_block2 .third_block2_image img {
  width: 100%;
  height: auto;
}
body .maketsite .allcontent .third .container-fluid .row .col-lg .third_block2 .third_block2_name p {
  height: 3rem;
  width: auto;
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  padding-top: 0.7rem;
}
body .maketsite .allcontent .third .container-fluid .row .col-lg .third_block2 .third_block2_desc p {
  height: 5rem;
  width: auto;
  font-size: 1rem;
  opacity: 0.7;
  text-align: center;
}
body .maketsite .allcontent .third .container-fluid .row .col-lg .third_block2 .third_block2_button {
  display: flex;
  justify-content: center;
}
body .maketsite .allcontent .third .container-fluid .row .col-lg .third_block2 .third_block2_button button {
  height: 3rem;
  display: flex;
  font-size: 1.1rem;
  font-weight: 600;
  justify-content: center;
  align-items: center;
  color: coral;
  background: white;
  border: 1px solid coral;
  border-radius: 0.35rem;
}
body .maketsite .allcontent .third .container-fluid .row .col-lg .third_block2 .third_block2_button button:hover {
  height: 3rem;
  display: flex;
  font-size: 1.1rem;
  font-weight: 600;
  justify-content: center;
  align-items: center;
  color: coral;
  background: white;
  border: 1px solid coral;
  border-radius: 0.35rem;
  background: coral;
  color: white;
}
body .maketsite .allcontent .third .container-fluid .row .col-lg .third_block3 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  color: black;
  text-decoration: none;
}
body .maketsite .allcontent .third .container-fluid .row .col-lg .third_block3 .third_block3_image img {
  width: 100%;
  height: auto;
}
body .maketsite .allcontent .third .container-fluid .row .col-lg .third_block3 .third_block3_name p {
  height: 3rem;
  width: auto;
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  padding-top: 0.7rem;
}
body .maketsite .allcontent .third .container-fluid .row .col-lg .third_block3 .third_block3_desc p {
  height: 5rem;
  width: auto;
  font-size: 1rem;
  opacity: 0.7;
  text-align: center;
}
body .maketsite .allcontent .third .container-fluid .row .col-lg .third_block3 .third_block3_button {
  display: flex;
  justify-content: center;
}
body .maketsite .allcontent .third .container-fluid .row .col-lg .third_block3 .third_block3_button button {
  height: 3rem;
  display: flex;
  font-size: 1.1rem;
  font-weight: 600;
  justify-content: center;
  align-items: center;
  color: coral;
  background: white;
  border: 1px solid coral;
  border-radius: 0.35rem;
}
body .maketsite .allcontent .third .container-fluid .row .col-lg .third_block3 .third_block3_button button:hover {
  height: 3rem;
  display: flex;
  font-size: 1.1rem;
  font-weight: 600;
  justify-content: center;
  align-items: center;
  color: coral;
  background: white;
  border: 1px solid coral;
  border-radius: 0.35rem;
  background: coral;
  color: white;
}
body .maketsite .allcontent .fourth_name {
  display: flex;
  margin: 2.5rem 0 1.5rem 0;
}
body .maketsite .allcontent .fourth_name .fourth_name_h1 {
  font-size: 2rem;
  font-weight: 700;
  text-align: left;
}
body .maketsite .allcontent .fourth {
  width: 100%;
  height: 25rem;
}
body .maketsite .allcontent .fourth .container-fluid .row .col-lg .fourth_block1 {
  display: flex;
  flex-direction: column;
}
body .maketsite .allcontent .fourth .container-fluid .row .col-lg .fourth_block1 .fourth_block1_image img {
  width: 100%;
  height: auto;
}
body .maketsite .allcontent .fourth .container-fluid .row .col-lg .fourth_block1 .fourth_block1_text {
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
}
body .maketsite .allcontent .fourth .container-fluid .row .col-lg .fourth_block1 .fourth_block1_text .fourth_block1_text_for {
  font-size: 0.9rem;
  color: coral;
}
body .maketsite .allcontent .fourth .container-fluid .row .col-lg .fourth_block1 .fourth_block1_text .fourth_block1_text_name {
  font-size: 1rem;
  font-weight: 600;
}
body .maketsite .allcontent .fourth .container-fluid .row .col-lg .fourth_block1 .fourth_block1_text .fourth_block1_text_desc {
  font-size: 0.9rem;
  opacity: 0.5;
}
body .maketsite .allcontent .fourth .container-fluid .row .col-lg .fourth_block1 .fourth_block1_text .fourth_block1_text_price {
  font-size: 1rem;
  font-weight: 600;
  opacity: 0.7;
}
body .maketsite .allcontent .fourth .container-fluid .row .col-lg .fourth_block1 .fourth_block1_content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 0.9rem;
  opacity: 0.7;
}
body .maketsite .allcontent .fourth .container-fluid .row .col-lg .fourth_block1 .fourth_block1_content .fourth_block1_content1 {
  padding-right: 0.7rem;
}
body .maketsite .allcontent .fourth .container-fluid .row .col-lg .fourth_block1 .fourth_block1_content .fourth_block1_content2 {
  padding: 0 0.35rem 0 0.35rem;
}
body .maketsite .allcontent .fourth .container-fluid .row .col-lg .fourth_block1 .fourth_block1_content .fourth_block1_content3 {
  padding-left: 0.7rem;
}
body .maketsite .allcontent .fourth .container-fluid .row .col-lg .fourth_block2 {
  display: flex;
  flex-direction: column;
}
body .maketsite .allcontent .fourth .container-fluid .row .col-lg .fourth_block2 .fourth_block2_image img {
  width: 100%;
  height: auto;
}
body .maketsite .allcontent .fourth .container-fluid .row .col-lg .fourth_block2 .fourth_block2_text {
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
}
body .maketsite .allcontent .fourth .container-fluid .row .col-lg .fourth_block2 .fourth_block2_text .fourth_block2_text_for {
  font-size: 0.9rem;
  color: coral;
}
body .maketsite .allcontent .fourth .container-fluid .row .col-lg .fourth_block2 .fourth_block2_text .fourth_block2_text_name {
  font-size: 1rem;
  font-weight: 600;
}
body .maketsite .allcontent .fourth .container-fluid .row .col-lg .fourth_block2 .fourth_block2_text .fourth_block2_text_desc {
  font-size: 0.9rem;
  opacity: 0.5;
}
body .maketsite .allcontent .fourth .container-fluid .row .col-lg .fourth_block2 .fourth_block2_text .fourth_block2_text_price {
  font-size: 1rem;
  font-weight: 600;
  opacity: 0.7;
}
body .maketsite .allcontent .fourth .container-fluid .row .col-lg .fourth_block2 .fourth_block2_content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 0.9rem;
  opacity: 0.7;
}
body .maketsite .allcontent .fourth .container-fluid .row .col-lg .fourth_block2 .fourth_block2_content .fourth_block2_content1 {
  padding-right: 0.7rem;
}
body .maketsite .allcontent .fourth .container-fluid .row .col-lg .fourth_block2 .fourth_block2_content .fourth_block2_content2 {
  padding: 0 0.35rem 0 0.35rem;
}
body .maketsite .allcontent .fourth .container-fluid .row .col-lg .fourth_block2 .fourth_block2_content .fourth_block2_content3 {
  padding-left: 0.7rem;
}
body .maketsite .allcontent .fourth .container-fluid .row .col-lg .fourth_block3 {
  display: flex;
  flex-direction: column;
}
body .maketsite .allcontent .fourth .container-fluid .row .col-lg .fourth_block3 .fourth_block3_image img {
  width: 100%;
  height: auto;
}
body .maketsite .allcontent .fourth .container-fluid .row .col-lg .fourth_block3 .fourth_block3_text {
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
}
body .maketsite .allcontent .fourth .container-fluid .row .col-lg .fourth_block3 .fourth_block3_text .fourth_block3_text_for {
  font-size: 0.9rem;
  color: coral;
}
body .maketsite .allcontent .fourth .container-fluid .row .col-lg .fourth_block3 .fourth_block3_text .fourth_block3_text_name {
  font-size: 1rem;
  font-weight: 600;
}
body .maketsite .allcontent .fourth .container-fluid .row .col-lg .fourth_block3 .fourth_block3_text .fourth_block3_text_desc {
  font-size: 0.9rem;
  opacity: 0.5;
}
body .maketsite .allcontent .fourth .container-fluid .row .col-lg .fourth_block3 .fourth_block3_text .fourth_block3_text_price {
  font-size: 1rem;
  font-weight: 600;
  opacity: 0.7;
}
body .maketsite .allcontent .fourth .container-fluid .row .col-lg .fourth_block3 .fourth_block3_content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 0.9rem;
  opacity: 0.7;
}
body .maketsite .allcontent .fourth .container-fluid .row .col-lg .fourth_block3 .fourth_block3_content .fourth_block3_content1 {
  padding-right: 0.7rem;
}
body .maketsite .allcontent .fourth .container-fluid .row .col-lg .fourth_block3 .fourth_block3_content .fourth_block3_content2 {
  padding: 0 0.35rem 0 0.35rem;
}
body .maketsite .allcontent .fourth .container-fluid .row .col-lg .fourth_block3 .fourth_block3_content .fourth_block3_content3 {
  padding-left: 0.7rem;
}
body .maketsite .allcontent .fourth .container-fluid .row .col-lg .fourth_block4 {
  display: flex;
  flex-direction: column;
}
body .maketsite .allcontent .fourth .container-fluid .row .col-lg .fourth_block4 .fourth_block4_image img {
  width: 100%;
  height: auto;
}
body .maketsite .allcontent .fourth .container-fluid .row .col-lg .fourth_block4 .fourth_block4_text {
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
}
body .maketsite .allcontent .fourth .container-fluid .row .col-lg .fourth_block4 .fourth_block4_text .fourth_block4_text_for {
  font-size: 0.9rem;
  color: coral;
}
body .maketsite .allcontent .fourth .container-fluid .row .col-lg .fourth_block4 .fourth_block4_text .fourth_block4_text_name {
  font-size: 1rem;
  font-weight: 600;
}
body .maketsite .allcontent .fourth .container-fluid .row .col-lg .fourth_block4 .fourth_block4_text .fourth_block4_text_desc {
  font-size: 0.9rem;
  opacity: 0.5;
}
body .maketsite .allcontent .fourth .container-fluid .row .col-lg .fourth_block4 .fourth_block4_text .fourth_block4_text_price {
  font-size: 1rem;
  font-weight: 600;
  opacity: 0.7;
}
body .maketsite .allcontent .fourth .container-fluid .row .col-lg .fourth_block4 .fourth_block4_content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 0.9rem;
  opacity: 0.7;
}
body .maketsite .allcontent .fourth .container-fluid .row .col-lg .fourth_block4 .fourth_block4_content .fourth_block4_content1 {
  padding-right: 0.7rem;
}
body .maketsite .allcontent .fourth .container-fluid .row .col-lg .fourth_block4 .fourth_block4_content .fourth_block4_content2 {
  padding: 0 0.35rem 0 0.35rem;
}
body .maketsite .allcontent .fourth .container-fluid .row .col-lg .fourth_block4 .fourth_block4_content .fourth_block4_content3 {
  padding-left: 0.7rem;
}
body .maketsite .allcontent .fifth .container-fluid .row .col-lg-3 .fifth_h1 {
  width: 100%;
  height: 100%;
  font-size: 2rem;
  font-weight: 700;
  text-align: left;
}
body .maketsite .allcontent .fifth .container-fluid .row .col-lg-1 .fifth_block1 {
  width: 100%;
  height: 100%;
  font-size: 1rem;
  font-weight: 500;
  opacity: 0.8;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  text-decoration: none;
}
body .maketsite .allcontent .fifth .container-fluid .row .col-lg-1 .fifth_block2 {
  width: 100%;
  height: 100%;
  font-size: 1rem;
  font-weight: 500;
  opacity: 0.8;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  text-decoration: none;
}
body .maketsite .allcontent .fifth .container-fluid .row .col-lg-1 .fifth_block3 {
  width: 100%;
  height: 100%;
  font-size: 1rem;
  font-weight: 500;
  opacity: 0.8;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  text-decoration: none;
}
body .maketsite .allcontent .fifth .container-fluid .row .col-lg-1 .fifth_block4 {
  width: 100%;
  height: 100%;
  font-size: 1rem;
  font-weight: 500;
  opacity: 0.8;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  text-decoration: none;
}
body .maketsite .allcontent .fifth .container-fluid .row .col-lg-3 .fifth_block5 {
  width: 100%;
  height: 100%;
}
body .maketsite .allcontent .fifth .container-fluid .row .col-lg-2 .fifth_block6 {
  width: 100%;
  height: 100%;
  font-size: 1rem;
  font-weight: 500;
  opacity: 0.8;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  text-decoration: none;
}
body .maketsite .allcontent .sixth .container-fluid .row .col-lg-6 .sixth_block1 img {
  width: 100%;
  height: auto;
}
@media screen and (max-width: 992px) {
  body .maketsite .allcontent .sixth .container-fluid .row .col-lg-6 .sixth_block1 img {
    margin-bottom: 1.65rem;
  }
}
body .maketsite .allcontent .sixth .container-fluid .row .col-lg-6 .sixth_block2 img {
  width: 100%;
  height: 50%;
}
body .maketsite .allcontent .sixth .container-fluid .row .col-lg-6 .sixth_block3 img {
  width: 100%;
  height: 50%;
  margin-top: 1.65rem;
}
body .maketsite .allcontent .seventh .container-fluid .row .col-lg-4 .seventh_image {
  width: 100%;
  height: auto;
}
body .maketsite .allcontent .seventh .container-fluid .row .col-lg-8 .seventh_text {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  margin-left: 4rem;
}
body .maketsite .allcontent .seventh .container-fluid .row .col-lg-8 .seventh_text .seventh_text_name {
  width: 100%;
  height: 25%;
  font-size: 2rem;
  font-weight: 700;
  text-align: left;
  padding-top: 3rem;
}
body .maketsite .allcontent .seventh .container-fluid .row .col-lg-8 .seventh_text .seventh_text_desc {
  width: 100%;
  height: 25%;
  font-size: 1.2rem;
  opacity: 0.8;
  text-align: left;
}
body .maketsite .allcontent .seventh .container-fluid .row .col-lg-8 .seventh_text .seventh_text_button {
  width: 100%;
  height: 50%;
}
body .maketsite .allcontent .seventh .container-fluid .row .col-lg-8 .seventh_text .seventh_text_button .seventh_text_button1 {
  width: 9rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 0.7;
  color: white;
  margin-top: 0.7rem;
  background: orangered;
  border-radius: 0.5rem;
}
@media screen and (max-width: 992px) {
  body .maketsite .allcontent .seventh .container-fluid .row .col-lg-8 .seventh_text {
    margin-left: 0;
  }
}
body .maketsite .allcontent .eighth {
  display: flex;
  margin: 2.5rem 0 1.5rem 0;
}
body .maketsite .allcontent .eighth .eighth_h1 {
  font-size: 2rem;
  font-weight: 700;
  text-align: left;
}
body .maketsite .allcontent .ninth .container-fluid .content {
  margin: auto;
  width: 100%;
  height: auto;
  max-width: 75rem;
}
body .maketsite .allcontent .ninth .container-fluid .content .slider multiple-items .ninth_bl .ninth_block1 {
  display: flex;
  flex-direction: column;
  width: 25%;
  max-width: 25%;
  padding: 0.5rem;
}
body .maketsite .allcontent .ninth .container-fluid .content .slider multiple-items .ninth_bl .ninth_block1 .ninth_block1_image img {
  width: 100%;
  height: auto;
}
body .maketsite .allcontent .ninth .container-fluid .content .slider multiple-items .ninth_bl .ninth_block1 .ninth_block1_text {
  font-size: 1rem;
  font-weight: 700;
  opacity: 0.8;
  text-align: center;
}
body .maketsite .allcontent .ninth .container-fluid .content .slider multiple-items .ninth_bl .ninth_block2 {
  display: flex;
  flex-direction: column;
  width: 25%;
  max-width: 25%;
  padding: 0.5rem;
}
body .maketsite .allcontent .ninth .container-fluid .content .slider multiple-items .ninth_bl .ninth_block2 .ninth_block2_image img {
  width: 100%;
  height: auto;
}
body .maketsite .allcontent .ninth .container-fluid .content .slider multiple-items .ninth_bl .ninth_block2 .ninth_block2_text {
  font-size: 1rem;
  font-weight: 700;
  opacity: 0.8;
  text-align: center;
}
body .maketsite .allcontent .ninth .container-fluid .content .slider multiple-items .ninth_bl .ninth_block3 {
  display: flex;
  flex-direction: column;
  width: 25%;
  max-width: 25%;
  padding: 0.5rem;
}
body .maketsite .allcontent .ninth .container-fluid .content .slider multiple-items .ninth_bl .ninth_block3 .ninth_block3_image img {
  width: 100%;
  height: auto;
}
body .maketsite .allcontent .ninth .container-fluid .content .slider multiple-items .ninth_bl .ninth_block3 .ninth_block3_text {
  font-size: 1rem;
  font-weight: 700;
  opacity: 0.8;
  text-align: center;
}
body .maketsite .allcontent .ninth .container-fluid .content .slider multiple-items .ninth_bl .ninth_block4 {
  display: flex;
  flex-direction: column;
  width: 25%;
  max-width: 25%;
  padding: 0.5rem;
}
body .maketsite .allcontent .ninth .container-fluid .content .slider multiple-items .ninth_bl .ninth_block4 .ninth_block4_image img {
  width: 100%;
  height: auto;
}
body .maketsite .allcontent .ninth .container-fluid .content .slider multiple-items .ninth_bl .ninth_block4 .ninth_block4_text {
  font-size: 1rem;
  font-weight: 700;
  opacity: 0.8;
  text-align: center;
}
body .maketsite .allcontent .ninth .container-fluid .content .slider multiple-items .ninth_bl .ninth_block5 {
  display: flex;
  flex-direction: column;
  width: 25%;
  max-width: 25%;
  padding: 0.5rem;
}
body .maketsite .allcontent .ninth .container-fluid .content .slider multiple-items .ninth_bl .ninth_block5 .ninth_block5_image img {
  width: 100%;
  height: auto;
}
body .maketsite .allcontent .ninth .container-fluid .content .slider multiple-items .ninth_bl .ninth_block5 .ninth_block5_text {
  font-size: 1rem;
  font-weight: 700;
  opacity: 0.8;
  text-align: center;
}
body .maketsite .allcontent .ten {
  display: flex;
  margin: 2.5rem 0 1.5rem 0;
}
body .maketsite .allcontent .ten .ten_h1 {
  font-size: 2rem;
  font-weight: 700;
  text-align: left;
}
body .maketsite .allcontent .eleven {
  width: 100%;
  height: 100px;
}
body .maketsite .allcontent .eleven .row .col-2 .eleven_block1 {
  display: flex;
  width: 100%;
  height: 100%;
}
body .maketsite .allcontent .eleven .row .col-2 .eleven_block1 .eleven_block1_grey img {
  width: 100%;
  height: 100%;
}
body .maketsite .allcontent .eleven .row .col-2 .eleven_block1 .eleven_block1_color {
  display: none;
}
body .maketsite .allcontent .eleven .row .col-2 .eleven_block1 .eleven_block1_color img {
  width: 100%;
  height: 100%;
}
body .maketsite .allcontent .eleven .row .col-2 .eleven_block1:hover .eleven_block1_color {
  display: flex;
}
body .maketsite .allcontent .eleven .row .col-2 .eleven_block1:hover .eleven_block1_grey {
  display: none;
}
body .maketsite .allcontent .eleven .row .col-2 .eleven_block2 {
  display: flex;
  width: 100%;
  height: 100%;
}
body .maketsite .allcontent .eleven .row .col-2 .eleven_block2 .eleven_block2_grey img {
  width: 100%;
  height: 100%;
}
body .maketsite .allcontent .eleven .row .col-2 .eleven_block2 .eleven_block2_color {
  display: none;
}
body .maketsite .allcontent .eleven .row .col-2 .eleven_block2 .eleven_block2_color img {
  width: 100%;
  height: 100%;
}
body .maketsite .allcontent .eleven .row .col-2 .eleven_block2:hover .eleven_block2_color {
  display: flex;
}
body .maketsite .allcontent .eleven .row .col-2 .eleven_block2:hover .eleven_block2_grey {
  display: none;
}
body .maketsite .allcontent .eleven .row .col-2 .eleven_block3 {
  display: flex;
  width: 100%;
  height: 100%;
}
body .maketsite .allcontent .eleven .row .col-2 .eleven_block3 .eleven_block3_grey img {
  width: 100%;
  height: 100%;
}
body .maketsite .allcontent .eleven .row .col-2 .eleven_block3 .eleven_block3_color {
  display: none;
}
body .maketsite .allcontent .eleven .row .col-2 .eleven_block3 .eleven_block3_color img {
  width: 100%;
  height: 100%;
}
body .maketsite .allcontent .eleven .row .col-2 .eleven_block3:hover .eleven_block3_color {
  display: flex;
}
body .maketsite .allcontent .eleven .row .col-2 .eleven_block3:hover .eleven_block3_grey {
  display: none;
}
body .maketsite .allcontent .eleven .row .col-2 .eleven_block4 {
  display: flex;
  width: 100%;
  height: 100%;
}
body .maketsite .allcontent .eleven .row .col-2 .eleven_block4 .eleven_block4_grey img {
  width: 100%;
  height: 100%;
}
body .maketsite .allcontent .eleven .row .col-2 .eleven_block4 .eleven_block4_color {
  display: none;
}
body .maketsite .allcontent .eleven .row .col-2 .eleven_block4 .eleven_block4_color img {
  width: 100%;
  height: 100%;
}
body .maketsite .allcontent .eleven .row .col-2 .eleven_block4:hover .eleven_block4_color {
  display: flex;
}
body .maketsite .allcontent .eleven .row .col-2 .eleven_block4:hover .eleven_block4_grey {
  display: none;
}
body .maketsite .allcontent .eleven .row .col-2 .eleven_block5 {
  display: flex;
  width: 100%;
  height: 100%;
}
body .maketsite .allcontent .eleven .row .col-2 .eleven_block5 .eleven_block5_grey img {
  width: 100%;
  height: 100%;
}
body .maketsite .allcontent .eleven .row .col-2 .eleven_block5 .eleven_block5_color {
  display: none;
}
body .maketsite .allcontent .eleven .row .col-2 .eleven_block5 .eleven_block5_color img {
  width: 100%;
  height: 100%;
}
body .maketsite .allcontent .eleven .row .col-2 .eleven_block5:hover .eleven_block5_color {
  display: flex;
}
body .maketsite .allcontent .eleven .row .col-2 .eleven_block5:hover .eleven_block5_grey {
  display: none;
}
body .maketsite .allcontent .eleven .row .col-2 .eleven_block6 {
  display: flex;
  width: 100%;
  height: 100%;
}
body .maketsite .allcontent .eleven .row .col-2 .eleven_block6 .eleven_block6_grey img {
  width: 100%;
  height: 100%;
}
body .maketsite .allcontent .eleven .row .col-2 .eleven_block6 .eleven_block6_color {
  display: none;
}
body .maketsite .allcontent .eleven .row .col-2 .eleven_block6 .eleven_block6_color img {
  width: 100%;
  height: 100%;
}
body .maketsite .allcontent .eleven .row .col-2 .eleven_block6:hover .eleven_block6_color {
  display: flex;
}
body .maketsite .allcontent .eleven .row .col-2 .eleven_block6:hover .eleven_block6_grey {
  display: none;
}
body .maketsite .allcontent .twelve {
  display: flex;
  margin: 2.5rem 0 1.5rem 0;
}
body .maketsite .allcontent .twelve .twelve_h1 {
  font-size: 2rem;
  font-weight: 700;
  text-align: left;
}
body .maketsite .allcontent .thirteen {
  display: flex;
  flex-wrap: wrap;
  flex-flow: row;
  gap: 1.5rem;
  padding-bottom: 5rem;
}
body .maketsite .allcontent .thirteen .thirteen_block1 {
  width: 32%;
  height: auto;
}
body .maketsite .allcontent .thirteen .thirteen_block1 img {
  width: 100%;
}
body .maketsite .allcontent .thirteen .thirteen_block2 {
  width: 32%;
  height: auto;
}
body .maketsite .allcontent .thirteen .thirteen_block2 img {
  width: 100%;
}
body .maketsite .allcontent .thirteen .thirteen_block3 {
  width: 32%;
  display: flex;
  flex-direction: column;
}
body .maketsite .allcontent .thirteen .thirteen_block3 .thirteen_block3_name {
  font-size: 1.5rem;
  font-weight: 700;
}
body .maketsite .allcontent .thirteen .thirteen_block3 .thirteen_block3_desc {
  font-size: 1rem;
  font-weight: 400;
  opacity: 0.7;
}
body .maketsite .allcontent .thirteen .thirteen_block3 .thirteen_block3_text {
  display: grid;
}
body .maketsite .allcontent .thirteen .thirteen_block3 .thirteen_block3_text .thirteen_block3_text_bl1 {
  grid-column: 1/2;
  grid-row: 1/2;
  font-size: 1.2rem;
  font-weight: 700;
}
body .maketsite .allcontent .thirteen .thirteen_block3 .thirteen_block3_text .thirteen_block3_text_bl2 {
  grid-column: 2/3;
  grid-row: 1/2;
  color: yellow;
}
body .maketsite .allcontent .thirteen .thirteen_block3 .thirteen_block3_text .thirteen_block3_text_bl3 {
  grid-column: 1/2;
  grid-row: 2/3;
  font-size: 0.9rem;
  opacity: 0.8;
}
body .maketsite .allcontent .thirteen .thirteen_block3 .thirteen_block3_text .thirteen_block3_text_bl4 {
  grid-column: 2/3;
  grid-row: 2/3;
  font-size: 0.9rem;
  opacity: 0.8;
}
body .maketsite footer {
  width: 100%;
  grid-area: footer;
}
body .maketsite footer .container-fluid .ft_tp .row .col-lg-6 .row .col-lg-4 .first_left_block1 {
  width: 100%;
  height: auto;
  margin-top: 1rem;
}
body .maketsite footer .container-fluid .ft_tp .row .col-lg-6 .row .col-lg-4 .first_left_block1 img {
  height: auto;
  width: 100%;
}
body .maketsite footer .container-fluid .ft_tp .row .col-lg-6 .row .col-lg-4 .first_left_block1 ul {
  list-style-type: none;
  margin-top: 1rem;
  margin-left: -1rem;
}
body .maketsite footer .container-fluid .ft_tp .row .col-lg-6 .row .col-lg-4 .first_left_block1 ul li a {
  color: black;
  font-size: 1.1rem;
  opacity: 0.9;
  text-decoration: none;
}
body .maketsite footer .container-fluid .ft_tp .row .col-lg-6 .row .col-lg-4 .first_left_block1 ul li a:hover {
  color: coral;
}
body .maketsite footer .container-fluid .ft_tp .row .col-lg-6 .row .col-lg-4 .first_left_block1 .messendger {
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin-top: 1rem;
  margin-left: 2rem;
}
body .maketsite footer .container-fluid .ft_tp .row .col-lg-6 .row .col-lg-4 .first_left_block1 .messendger .messendger_bl1 img {
  width: 2rem;
  height: 2rem;
}
body .maketsite footer .container-fluid .ft_tp .row .col-lg-6 .row .col-lg-4 .first_left_block1 .messendger .messendger_bl2 img {
  width: 2rem;
  height: 2rem;
}
body .maketsite footer .container-fluid .ft_tp .row .col-lg-6 .row .col-lg-4 .first_left_block1 .messendger .messendger_bl3 img {
  width: 2rem;
  height: 2rem;
}
body .maketsite footer .container-fluid .ft_tp .row .col-lg-6 .row .col-lg-4 .first_left_block1 .messendger .messendger_bl4 img {
  width: 2rem;
  height: 2rem;
}
body .maketsite footer .container-fluid .ft_tp .row .col-lg-6 .row .col-lg-4 .first_left_block2 {
  width: 100%;
  height: auto;
}
body .maketsite footer .container-fluid .ft_tp .row .col-lg-6 .row .col-lg-4 .first_left_block2 .first_name1 {
  height: 3.5rem;
  width: auto;
  font-size: 1.3rem;
  font-weight: 700;
  text-align: left;
  padding-top: 1.5rem;
  padding-left: 2.5rem;
}
body .maketsite footer .container-fluid .ft_tp .row .col-lg-6 .row .col-lg-4 .first_left_block2 ul {
  list-style-type: none;
  font-size: 1rem;
  margin-top: 1rem;
}
body .maketsite footer .container-fluid .ft_tp .row .col-lg-6 .row .col-lg-4 .first_left_block2 ul li a {
  color: black;
  font-size: 1.1rem;
  opacity: 0.9;
  text-decoration: none;
}
body .maketsite footer .container-fluid .ft_tp .row .col-lg-6 .row .col-lg-4 .first_left_block2 ul li a:hover {
  color: coral;
}
body .maketsite footer .container-fluid .ft_tp .row .col-lg-6 .row .col-lg-4 .first_left_block3 {
  width: 100%;
  height: auto;
}
body .maketsite footer .container-fluid .ft_tp .row .col-lg-6 .row .col-lg-4 .first_left_block3 .first_name2 {
  height: 3.5rem;
  font-size: 1.3rem;
  font-weight: 700;
  text-align: left;
  padding-top: 1.5rem;
  padding-left: 2.5rem;
}
body .maketsite footer .container-fluid .ft_tp .row .col-lg-6 .row .col-lg-4 .first_left_block3 ul {
  list-style-type: none;
  font-size: 1rem;
  margin-top: 1rem;
}
body .maketsite footer .container-fluid .ft_tp .row .col-lg-6 .row .col-lg-4 .first_left_block3 ul li a {
  color: black;
  font-size: 1.1rem;
  opacity: 0.9;
  text-decoration: none;
}
body .maketsite footer .container-fluid .ft_tp .row .col-lg-6 .row .col-lg-4 .first_left_block3 ul li a:hover {
  color: coral;
}
body .maketsite footer .container-fluid .ft_tp .row .col-lg-6 .first_name3 {
  height: 3.5rem;
  width: 100%;
  font-size: 1.3rem;
  font-weight: 700;
  text-align: left;
  padding-top: 1.5rem;
  margin-bottom: 1rem;
}
body .maketsite footer .container-fluid .ft_tp .row .col-lg-6 .row .col-lg-3 .first_right_block1_image {
  width: 100%;
  height: auto;
}
body .maketsite footer .container-fluid .ft_tp .row .col-lg-6 .row .col-lg-3 .first_right_block1_image img {
  width: 100%;
  height: auto;
}
@media screen and (max-width: 992px) {
  body .maketsite footer .container-fluid .ft_tp .row .col-lg-6 .row .col-lg-3 .first_right_block1_image {
    display: none;
  }
}
body .maketsite footer .container-fluid .ft_tp .row .col-lg-6 .row .col-lg-9 .first_right_block1_text {
  display: flex;
  flex-direction: column;
}
body .maketsite footer .container-fluid .ft_tp .row .col-lg-6 .row .col-lg-9 .first_right_block1_text .first_right_block1_text_top {
  font-size: 0.9rem;
  color: coral;
}
body .maketsite footer .container-fluid .ft_tp .row .col-lg-6 .row .col-lg-9 .first_right_block1_text .first_right_block1_text_name {
  font-size: 1rem;
  font-weight: 700;
}
body .maketsite footer .container-fluid .ft_tp .row .col-lg-6 .row .col-lg-9 .first_right_block1_text .first_right_block1_text_desc {
  font-size: 0.9rem;
  opacity: 0.7;
}
body .maketsite footer .container-fluid .ft_tp .row .col-lg-6 .row .col-lg-9 .first_right_block1_text .first_right_block1_text_bottom {
  display: flex;
  flex-flow: row;
  gap: 1rem;
}
body .maketsite footer .container-fluid .ft_tp .row .col-lg-6 .row .col-lg-9 .first_right_block1_text .first_right_block1_text_bottom .first_right_block1_text_bottom1 {
  font-size: 0.9rem;
  opacity: 0.7;
  margin-top: 0.65rem;
}
body .maketsite footer .container-fluid .ft_tp .row .col-lg-6 .row .col-lg-9 .first_right_block1_text .first_right_block1_text_bottom .first_right_block1_text_bottom2 {
  font-size: 0.9rem;
  opacity: 0.7;
  margin-top: 0.65rem;
}
body .maketsite footer .container-fluid .ft_tp .row .col-lg-6 .row {
  margin-top: 1rem;
}
body .maketsite footer .container-fluid .ft_tp .row .col-lg-6 .row .col-lg-3 .first_right_block2_image {
  width: 100%;
  height: auto;
}
body .maketsite footer .container-fluid .ft_tp .row .col-lg-6 .row .col-lg-3 .first_right_block2_image img {
  width: 100%;
  height: auto;
}
@media screen and (max-width: 992px) {
  body .maketsite footer .container-fluid .ft_tp .row .col-lg-6 .row .col-lg-3 .first_right_block2_image {
    display: none;
  }
}
body .maketsite footer .container-fluid .ft_tp .row .col-lg-6 .row .col-lg-9 .first_right_block2_text {
  display: flex;
  flex-direction: column;
}
body .maketsite footer .container-fluid .ft_tp .row .col-lg-6 .row .col-lg-9 .first_right_block2_text .first_right_block2_text_top {
  font-size: 0.9rem;
  color: coral;
}
body .maketsite footer .container-fluid .ft_tp .row .col-lg-6 .row .col-lg-9 .first_right_block2_text .first_right_block2_text_name {
  font-size: 1rem;
  font-weight: 700;
}
body .maketsite footer .container-fluid .ft_tp .row .col-lg-6 .row .col-lg-9 .first_right_block2_text .first_right_block2_text_desc {
  font-size: 0.9rem;
  opacity: 0.7;
}
body .maketsite footer .container-fluid .ft_tp .row .col-lg-6 .row .col-lg-9 .first_right_block2_text .first_right_block2_text_bottom {
  display: flex;
  flex-flow: row;
  gap: 1rem;
}
body .maketsite footer .container-fluid .ft_tp .row .col-lg-6 .row .col-lg-9 .first_right_block2_text .first_right_block2_text_bottom .first_right_block2_text_bottom1 {
  font-size: 0.9rem;
  opacity: 0.7;
  margin-top: 0.65rem;
}
body .maketsite footer .container-fluid .ft_tp .row .col-lg-6 .row .col-lg-9 .first_right_block2_text .first_right_block2_text_bottom .first_right_block2_text_bottom2 {
  font-size: 0.9rem;
  opacity: 0.7;
  margin-top: 0.65rem;
}
body .maketsite footer .container-fluid .ft_bt {
  margin-top: 4rem;
  background: rgb(24, 1, 41);
  color: white;
  width: 100%;
  height: 12rem;
}
body .maketsite footer .container-fluid .ft_bt .row .col-lg-9.order-2 {
  display: flex;
}
body .maketsite footer .container-fluid .ft_bt .row .col-lg-9.order-2 .ft_bt_rt {
  height: 100%;
  display: flex;
}
body .maketsite footer .container-fluid .ft_bt .row .col-lg-9.order-2 .ft_bt_rt .row .col-lg {
  display: flex;
}
body .maketsite footer .container-fluid .ft_bt .row .col-lg-9.order-2 .ft_bt_rt .row .col-lg .ft_bt_block1 {
  display: flex;
  flex-flow: column;
  width: 100%;
  height: 100%;
}
body .maketsite footer .container-fluid .ft_bt .row .col-lg-9.order-2 .ft_bt_rt .row .col-lg .ft_bt_block1 .ft_bt1 {
  width: 100%;
  height: 50%;
  font-size: 1.5rem;
  font-weight: 500;
  display: flex;
  align-items: flex-end;
}
body .maketsite footer .container-fluid .ft_bt .row .col-lg-9.order-2 .ft_bt_rt .row .col-lg .ft_bt_block1 .ft_bt2 {
  width: 100%;
  height: 50%;
  font-size: 1.25rem;
  display: flex;
}
body .maketsite footer .container-fluid .ft_bt .row .col-lg-9.order-2 .ft_bt_rt .row .col-lg {
  display: flex;
}
body .maketsite footer .container-fluid .ft_bt .row .col-lg-9.order-2 .ft_bt_rt .row .col-lg .ft_bt_rtt .row .col-lg {
  display: flex;
  height: 100%;
  width: 100%;
}
body .maketsite footer .container-fluid .ft_bt .row .col-lg-9.order-2 .ft_bt_rt .row .col-lg .ft_bt_rtt .row .col-lg .ft_bt_bl11 {
  display: flex;
  width: 100%;
  height: auto;
  background: rgb(55, 3, 85);
  border-radius: 0.75rem;
}
body .maketsite footer .container-fluid .ft_bt .row .col-lg-9.order-2 .ft_bt_rt .row .col-lg .ft_bt_rtt .row .col-lg .ft_bt_bl11 img {
  width: 100%;
  height: auto;
}
body .maketsite footer .container-fluid .ft_bt .row .col-lg-9.order-2 .ft_bt_rt .row .col-lg .ft_bt_rtt .row .col-lg {
  display: flex;
  height: 100%;
  width: 100%;
}
body .maketsite footer .container-fluid .ft_bt .row .col-lg-9.order-2 .ft_bt_rt .row .col-lg .ft_bt_rtt .row .col-lg .ft_bt_bl22 {
  display: flex;
  width: 100%;
  height: auto;
  background: rgb(55, 3, 85);
  border-radius: 0.75rem;
}
body .maketsite footer .container-fluid .ft_bt .row .col-lg-9.order-2 .ft_bt_rt .row .col-lg .ft_bt_rtt .row .col-lg .ft_bt_bl22 img {
  width: 100%;
  height: auto;
}
body .maketsite footer .container-fluid .ft_bt .row .col-lg-3.order-1 {
  display: flex;
}
body .maketsite footer .container-fluid .ft_bt .row .col-lg-3.order-1 img {
  width: 100%;
  height: 100%;
  margin-top: -3rem;
}
body .maketsite footer .container-fluid .end_footer {
  font-size: 1rem;
  text-align: center;
  padding-top: 2rem;
}/*# sourceMappingURL=style.css.map */